.vs/
.TangleChainProjects.sln.DotSettings
.TangleChainProjects.sln.DotSettings.user
ConsoleMiner/bin/
ConsoleMiner/obj/

TangleChain-System.sln.DotSettings.user
TangleChain-System.sln.DotSettings
TangleChainIXITest/bin/
