.vs/
.TangleChainProjects.sln.DotSettings
.TangleChainProjects.sln.DotSettings.user
ConsoleMiner/bin/
ConsoleMiner/obj/

TangleChain-System.sln.DotSettings.user
TangleChain-System.sln.DotSettings
TangleChainIXITest/bin/
TangleChainIXI/bin/Debug/netstandard2.0/IXI.deps.json
TangleChainIXI/bin/
TangleChainIXI/obj/
TangleChainIXITest/obj/
TCWallet/bin/
TCWallet/obj/
packages/
Strain/obj/
StrainTest/bin/
StrainTest/obj/
Strain/bin/
SimpleCoreComponents/obj/
